venv/
__pycache__/
gradio/results/
django+api/media/results
django+api/media/uploaded
django+api_V2/media/results
django+api_V2/media/uploaded
django+api_V2/DetMals/db.sqlite3


.gradio/
.mypy_cache/
