{% extends "base.html" %}
{% load static %}

{% block title %}Интерфейс разметки{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block header %}
<a href="{% url 'homepage:index' %}">
  <div id="logo">
    <img src="{% static 'images/logo1.png' %}" alt="Логотип" >
  </div>
</a>
<nav>
  <ul>
    <li><a href="{% url 'homepage:index' %}">Главная</a></li>
    <li><a href="{% url 'detection:detect_mammals' %}">Детекция</a></li>
    <li><a href="{% url 'detection:edit_detection' %}">Редактировать детекцию</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<style> 
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  #canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<div id="annotation-tool">
  {% csrf_token %}
  <div id="canvas-container" style="position: relative; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <canvas id="image-layer" style="position: absolute; z-index: 1;"></canvas>
    <canvas id="bbox-layer" style="position: absolute; z-index: 2;"></canvas>
    <canvas id="crosshair-layer" style="position: absolute; z-index: 3;"></canvas>
    <canvas id="interactive-layer" style="position: absolute; z-index: 4;"></canvas>
  </div>
  <div id="info-panel">
    <p id="image-number">Изображение <span id="current-image"></span>/<span id="total-images"></span></p>
    <button id="previous-button" style="display: none;">Перейти к предыдущему</button>
    <button id="next-button" style="display: block;">Перейти к следующему</button>
    <button id="complete-button">Завершить</button>
  </div>
  <div id="bbox-info" style="position: fixed; right: 20px; top: 50%; transform: translateY(-50%); padding: 10px; border: 1px solid #ccc; background-color: #fff; display: none;">
    <h3>Annotation data</h3>
    <p id="bbox-class"></p>
    <button id="delete-bbox">Удалить</button>
    <button id="change-class">Изменить класс</button>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  class NewDjangoData {

    static #baseURL = '{{ django_url }}'
    static #apiURL = '{{ api_url }}'
    static #imageData = {{ image_data|safe }}
    static #classData = {{ class_data|safe }}
    static #totalImages = {{ amount }}

    static get baseURL() {
      return this.#baseURL;
    };

    static get apiURL() {
      return this.#apiURL;
    };

    static get imageData() {
      return this.#imageData;
    };

    static get classData() {
      return this.#classData;
    };

    static get totalImages() {
      return this.#totalImages;
    };
  };

</script>
<script src="{% static 'js/annotation_tool_script.js' %}"></script>
{% endblock %}
