{% extends 'base.html' %}
{% load static %}

{% block title %}
Изменение разметки
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block header %}
<a href="{% url 'homepage:index' %}">
  <div id="logo">
    <img src="{% static 'images/logo1.png' %}" alt="Логотип" >
  </div>
</a>
<nav>
  <ul>
    <li><a href="{% url 'homepage:index' %}">Главная</a></li>
    <li><a href="{% url 'detection:detect_mammals' %}">Детекция</a></li>
    <li><a href="{% url 'detection:edit_detection' %}">Редактировать детекцию</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div id="form-container">
  {% if error %}
    <h1>Ошибка: {{ error }}</h1>
  {% else %}
    <h1>Загрузите архив с изображениями и аннотациями</h1>
  {% endif %}

  <form id="file-upload-form">
    {% csrf_token %}
    <div>
      <label for="file-input">Выберите файл:</label>
      <input type="file" id="file-input" name="file" />
    </div>
    <div>
      <button id="submit-button">Отправить</button>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script>

  class DjangoData {
    static #detectionEditingURL = '{{ detection_editing_url }}';

    static get detectionEditingURL() {
      return this.#detectionEditingURL;
    };
  };
</script>
<script src="{% static 'js/edit_detection_script.js' %}"></script>
{% endblock %}
